%div{:id=>"footer"}
  %div{:class=>"container"}
    %p{:class=>"text-muted credit"}
      Find me on <a href="http://github.com/terryg/ketos-web">github</a>.
      %br
      A final project for <a href="https://docs.google.com/presentation/d/1DEcF9lbn2sSmDwXPBjLvoHf8CRtxcTbgFMfiQk2yvFA/pub?start=false&loop=false&delayms=3000">BU MET CS755</a>.

= File.read(File.join('views', 'google_analytics.html'))
