%div{:id=>"wrap"}
  %div{:id=>"container"}
    %div{:class=>"page-header"}
      %h1
        %img{:src=>"ketos-small.png"}
        Ketos App

      = session[:auth_token] 
      %br
      %a{:href=>"/auth/twitter"}
        Add Twitter

  %div{:id=>"footer"}
    %div{:class=>"container"}
      %p{:class=>"text-muted credit"}
        Find me on <a href="http://github.com/terryg/ketos-web">github</a>.
        %br
        %a{:href=>"https://docs.google.com/presentation/d/1DEcF9lbn2sSmDwXPBjLvoHf8CRtxcTbgFMfiQk2yvFA/pub?start=false&loop=false&delayms=3000"}
          A final project for BU MET CS755

= File.read(File.join('views', 'google_analytics.html'))
