%div{:id=>"wrap"}
  %div{:id=>"container"}
    %div{:class=>"page-header-nav"}
      %ol
        %li
          <a href="/logout">logout</a>
        %li
          %strong
            home
        %li
          <a href="/account">account</a>

    %div{:class=>"page-header"}
      %h1{:class=>"home-heading"}
        KETOS APP (<a href="/">refresh</a>)

    %div{:class=>"page"}
      %div{:class=>"home-dashboard"}

        %div{:class=>"row"}
          %div{:class=>"col-lg-12"}
            %div{:class=>"form-update"}
              %form{:action => "", :method => "post"}
                %fieldset
                  %label 
                    Text
                    %input{:type => "radio", :name => "type", :value => "text", :checked => true}								
                  %label
                    Photo
                    %input{:type => "radio", :name => "type", :value => "photo"}
                  %br
                  %textarea{:name => "body", :rows => "2", :cols => "70"}
                  %br &nbsp;
                  %input{:type => "submit", :value => "Send", :class => "button"}

        %div{:class=>"row"}
          %div{:class=>"col-lg-12"}
            %div{:id=>"feed"}

  = haml :footer
