%div{:id=>"wrap"}
  %div{:id=>"container"}
    %div{:class=>"page-header"}
      %h1{:class=>"home-heading"}
        %img{:src=>"ketos-small.png"}
        Ketos App
      %div{:class=>"home-dashboard"}
        %br
        %div{:class=>"row"}
          AUTH -
          = session[:auth_token] 


    %div{:class=>"row"}
      %div{:class=>"col-lg-4"}
      - if !session['twitter']
        %a{:href=>"/auth/twitter"}
          Add Twitter
       
      - if !session['facebook']
        %br
        %a{:href=>"/auth/facebook"}
          Add Facebook

      %div{:class=>"col-lg-8"}
        - @tweets.each do |t|
          %div{:class=>"home-tweet"}
            = t.full_text

  = haml :footer
