%div{:id=>"wrap"}
  %div{:id=>"container"}
    %div{:class=>"page-header"}
      %h1{:class=>"home-heading"}
        %img{:src=>"ketos-small.png"}
        Ketos App
      %div{:class=>"home-dashboard"}

        %div{:class=>"row"}
          %div{:class=>"col-lg-2"}
          - if !session['twitter']
            %a{:href=>"/auth/twitter"}
              Add Twitter
       
          - if !session['facebook']
            %br
            %a{:href=>"/auth/facebook"}
              Add Facebook

          %div{:class=>"col-lg-10"}
            %table{:class=>"home-items"}
              %tr
                %th
                  From
                %th
                  Msg
                %th
              - @items.each do |i|
                %tr
                  %td
                    = i.name_html
                  %td
                    = i.text_html
                  %td
                    = i.permalink
                  %td
  = haml :footer
