%div{:id=>"wrap"}
  %div{:id=>"container"}
    %div{:class=>"page-header"}
      %h1{:class=>"home-heading"}
        %img{:src=>"ketos-small.png"}
        Ketos App

      %div{:class=>"home-dashboard"}
        %br
        = session[:auth_token] 
        %br

        - if session['twitter']
          = session['twitter'][:token] 
          %br

          = session['twitter'][:token_secret] 
          %br
        - else
          %a{:href=>"/auth/twitter"}
            Add Twitter

  = haml :footer
