%div{:id=>"wrap"}
  %div{:id=>"container"}
    %div{:class=>"page-header-nav"}
      %ol
        %li
          <a href="/logout">logout</a>
        %li
          %strong
            home
        %li
          <a href="/account">account</a>

    %div{:class=>"page-header"}
      %h1{:class=>"home-heading"}
        KETOS APP (<a href="/">refresh</a>)

    %div{:class=>"page"}
      %div{:class=>"home-dashboard"}

        %div{:class=>"row"}
          %div{:class=>"col-lg-12"}
            %div{:class=>"form-update"}
              %form{:action => "", :method => "post", :enctype => "multipart/form-data"}
                %fieldset
                  %input{:type => "file", :name => "media", :accept => "image/gif,image/jpeg,image/jpg,image/png", :value => "Add Photo"}
                  %br
                  %textarea{:name => "body", :rows => "2", :cols => "70"}
                  %br
                    %div
                      %ul
                        - @active.each do |p|
                          %li{:class => "provider"}
                            %label
                              = p
                              %input{:type => "checkbox", :name => "#{p}", :checked => true}

                  %br &nbsp;
                  %input{:type => "submit", :value => "Send", :class => "button"}

        %div{:class=>"row"}
          %div{:class=>"col-lg-12"}
            %div{:id=>"new-items-count", :class=>"stream-item", :style=>"display: block;"}
            %div{:id=>"feed"}

  = haml :footer
