%div{:id=>"wrap"}
  %div{:id=>"container"}
    %div{:class=>"page-header"}
      %h1{:class=>"home-heading"}
        %img{:src=>"ketos-small.png"}
        Ketos App
      %div{:class=>"home-dashboard"}
        %br
        AUTH -
        = session[:auth_token] 
        %br

        - if session['twitter']
          %div{:class=>"home-twitter"}
            YOU ARE LOGGED!
            - @tweets.each do |t|
              %div{:class=>"home-tweet"}
                = t
        - else
          %a{:href=>"/auth/twitter"}
            Add Twitter
  = haml :footer
