%div
  %img{:src => "ketos-small.png"}
%div
  %h1
    %a{:href=>"/"}
      Ketos - streaming your feeds

%div
  %img{:src => "ketos.png"}

  %div
    - if @current_user
      Logged in

%div
  &nbsp;

%div
  Find me on <a href="http://github.com/terryg/ketos-web">github</a>.

= File.read(File.join('views', 'google_analytics.html'))
