!!! Strict
%html{:lang => "en"}
  %head
    %meta{:charset=>"utf8"}
    %meta{:name=>"viewport",:content=>"width=device-width, initial-scale=1.0"}
    %meta{:name=>"description",:content=>""}
    %meta{:name=>"author",:content=>""}
    
    %title
      Ketos App
    %link{:href=>"css/bootstrap.min.css", :rel=>"stylesheet"}
    %link{:href=>"css/main.css", :rel=>"stylesheet"}
    %link{:href=>"css/twitter-styles.css", :rel=>"stylesheet"}


  %body
    != yield
    %script{:src=>"js/jquery-1.11.1.min.js"}
    %script{:src=>"js/ketosfeed.js"}
    %script{:src=>"js/bootstrap.min.js"}
    
