%div{:id=>"wrap"}
  %div{:id=>"container"}
  
    %h1{:class=>"register-heading"}
      %img{:src=>"ketos-small.png"}
      Ketos App
    %form{:class=>"form-register",:method=>"POST",:action=>"/register"}
      %h2{:class=>"form-register-heading"}
        All your social networks belong to us.
      %input{:name=>"email",:type=>"text", :class=>"form-control", :placeholder=>"Email address"}
      %input{:name=>"password",:type=>"password", :class=>"form-control", :placeholder=>"Password"}
      %button{:class=>"btn btn-large btn-primary btn-block", :type=>"submit"}
        Sign up
      %a{:href=>"/login"}
        Log in to your dashboard.

  %div{:id=>"footer"}
    %div{:class=>"container"}
      %p{:class=>"text-muted credit"}
        Find me on <a href="http://github.com/terryg/ketos-web">github</a>.
        %br
        %a{:href=>"https://docs.google.com/presentation/d/1DEcF9lbn2sSmDwXPBjLvoHf8CRtxcTbgFMfiQk2yvFA/pub?start=false&loop=false&delayms=3000"}
          A final project for BU MET CS755.

= File.read(File.join('views', 'google_analytics.html'))
