html,
body {
  height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .credit {
  margin: 20px 0;
}

.register-heading {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-register {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-register .form-register-heading,
.form-register .checkbox {
  margin-bottom: 10px;
}
.form-register .checkbox {
  font-weight: normal;
}
.form-register input[type="text"],
.form-register input[type="password"] {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-register input[type="text"]:focus,
.form-register input[type="password"]:focus {
  z-index: 2;
}
.form-register input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-register input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.register-footer {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.home-dashboard,
.home-heading {
  max-width: 700px;
  margin: 0 auto;
}

.home-items table
{
  border-collapse:collapse;
}

.home-items tr
{
  border-bottom: 1px solid #000;
}

.home-items tr.last
{
  border-bottom: none;
}

.home-items th,
.home-items td
{
  vertical-align:top;
}